@font-face {
  font-family: "UbuntuMono";
  src: url("resources/UbuntuMono.ttf");
  font-display: swap;
}
* {
  margin: 0px;
  padding: 0px;
  color: #829e9d;
  font-family: "UbuntuMono";
  scrollbar-color: #829e9d transparent;
}

html, body {
  position: relative;
  inset: 0;
  background-color: #0d1114;
}

h1 {
  font-size: 4rem;
}

p {
  font-size: 2rem;
}

::-webkit-scrollbar {
  width: auto;
}

::-webkit-scrollbar-track {
  background: transparent;
}

::-webkit-scrollbar-thumb {
  background-color: #829e9d;
}

#loader {
  position: fixed;
  inset: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #0d1114;
  z-index: 10;
}
#loader.done {
  -webkit-animation: fadeOut 1s linear;
          animation: fadeOut 1s linear;
}
#loader .bar {
  margin: 0.1rem;
  height: 1rem;
  width: 0.1rem;
  background-color: #829e9d;
  opacity: 0;
  -webkit-animation: loader 1s linear 0s, fadeIn 1s linear;
          animation: loader 1s linear 0s, fadeIn 1s linear;
  -webkit-animation-iteration-count: infinite;
          animation-iteration-count: infinite;
}
#loader .bar.bar1 {
  -webkit-animation-delay: 0.1s;
          animation-delay: 0.1s;
}
#loader .bar.bar2 {
  -webkit-animation-delay: 0.2s;
          animation-delay: 0.2s;
}
#loader .bar.bar3 {
  -webkit-animation-delay: 0.3s;
          animation-delay: 0.3s;
}
#loader .bar.bar4 {
  -webkit-animation-delay: 0.4s;
          animation-delay: 0.4s;
}
#loader .bar.bar5 {
  -webkit-animation-delay: 0.5s;
          animation-delay: 0.5s;
}
#loader .bar.bar6 {
  -webkit-animation-delay: 0.6s;
          animation-delay: 0.6s;
}
#loader .bar.bar7 {
  -webkit-animation-delay: 0.7s;
          animation-delay: 0.7s;
}
#loader .bar.bar8 {
  -webkit-animation-delay: 0.8s;
          animation-delay: 0.8s;
}
#loader .bar.bar9 {
  -webkit-animation-delay: 0.9s;
          animation-delay: 0.9s;
}

section {
  width: 100%;
  position: relative;
}

#landing {
  height: 100vh;
}
#landing.loaded #links {
  -webkit-animation: fadeIn 0.5s linear 0.3s 1 normal forwards;
          animation: fadeIn 0.5s linear 0.3s 1 normal forwards;
}
#landing.loaded #box1 {
  -webkit-animation: flickerIn 2s linear 0.5s 1 normal forwards;
          animation: flickerIn 2s linear 0.5s 1 normal forwards;
}
#landing.loaded #box2 {
  -webkit-animation: flickerIn 2s linear 0.1s 1 normal forwards;
          animation: flickerIn 2s linear 0.1s 1 normal forwards;
}
#landing.loaded #line1 {
  -webkit-animation: line1 1s ease-in-out 0.5s 1 normal forwards;
          animation: line1 1s ease-in-out 0.5s 1 normal forwards;
}
#landing.loaded #line2 {
  -webkit-animation: line2 1s ease-in-out 0.6s 1 normal forwards;
          animation: line2 1s ease-in-out 0.6s 1 normal forwards;
}
#landing.loaded #subheading {
  -webkit-animation: flickerIn 1s ease-in-out 1.5s 1 normal forwards;
          animation: flickerIn 1s ease-in-out 1.5s 1 normal forwards;
}
#landing.loaded + #particlesjs {
  -webkit-animation: fadeIn 2s ease-in-out 1s 1 normal forwards;
          animation: fadeIn 2s ease-in-out 1s 1 normal forwards;
}
#landing #links {
  position: absolute;
  z-index: 100;
  top: 10vh;
  right: 10vw;
  opacity: 0;
}
@media screen and (max-width: 480px) {
  #landing #links {
    top: 20vh;
  }
}
#landing #links img {
  cursor: pointer;
  display: inline-block;
  background-color: #829e9d;
  background-size: 100%;
  border: 1px solid #829e9d;
  margin: 0.5rem;
  width: 10vw;
}
#landing #links img:nth-child(1) {
  -webkit-mask: url("./resources/github.svg") no-repeat center/contain;
          mask: url("./resources/github.svg") no-repeat center/contain;
}
#landing #links img:nth-child(2) {
  -webkit-mask: url("./resources/itchio.svg") no-repeat center/contain;
          mask: url("./resources/itchio.svg") no-repeat center/contain;
}
#landing #box1 {
  opacity: 0;
  position: absolute;
  right: 0;
  bottom: 10%;
  width: 35%;
  height: 20rem;
  background-size: 1rem 1rem;
  background-image: radial-gradient(circle, #829e9d 0.1rem, rgba(0, 0, 0, 0) 0.1rem);
}
#landing #box2 {
  opacity: 0;
  position: absolute;
  left: 5vw;
  top: 40%;
  width: 35%;
  height: 20vh;
  background-size: 1rem 1rem;
  background-image: radial-gradient(circle, #829e9d 0.2rem, rgba(0, 0, 0, 0) 0.2rem);
}
#landing #line1 {
  position: absolute;
  left: 1rem;
  height: 0%;
  top: 5%;
  border-right: 1px solid #829e9d;
}
@-webkit-keyframes line1 {
  to {
    height: 80%;
  }
}
@keyframes line1 {
  to {
    height: 80%;
  }
}
#landing #line2 {
  position: absolute;
  left: 2rem;
  top: 10%;
  height: 0%;
  border-right: 1px solid #829e9d;
}
@-webkit-keyframes line2 {
  to {
    height: 60%;
  }
}
@keyframes line2 {
  to {
    height: 60%;
  }
}
#landing #headersWrapper {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  padding-bottom: 1rem;
  padding-right: 1rem;
}
#landing #headersWrapper #heading {
  width: 100%;
  text-shadow: -0.1rem 0.1rem 0 #829e9d, 0.1rem 0.1rem 0 #829e9d, 0.1rem -0.1rem 0 #829e9d, -0.1rem -0.1rem 0 #829e9d;
  color: #0d1114;
  font-size: 10vw;
  text-align: right;
}
@media (max-width: 480px) {
  #landing #headersWrapper #heading {
    width: 100vw;
    text-align: right;
  }
}
#landing #headersWrapper #subheading {
  width: 100%;
  font-size: 12vw;
  opacity: 0;
  text-align: right;
}
@media (max-width: 480px) {
  #landing #headersWrapper #subheading {
    width: 100vw;
    text-align: right;
  }
}

#about {
  height: 100vh;
}
#about #particlesjs {
  position: absolute;
  inset: 0;
}
#about #aboutpanel {
  position: relative;
  z-index: 10;
  margin-left: 5rem;
  margin-top: 10rem;
  margin-bottom: 5rem;
  padding: 1rem;
  background-color: #0d1114;
  border: 1px solid #829e9d;
  width: calc(100% - 30rem);
  opacity: 0;
}
#about #aboutpanel.visible {
  -webkit-animation: flickerInTo80 1s linear 0s 1 normal forwards;
          animation: flickerInTo80 1s linear 0s 1 normal forwards;
}
@media screen and (max-width: 1024px) {
  #about #aboutpanel {
    width: calc(100% - 10rem);
  }
}
@media screen and (max-width: 480px) {
  #about #aboutpanel {
    width: calc(100% - 2px - 2rem);
    margin-left: 0;
    margin-bottom: 1rem;
  }
}
#about #skillz {
  position: relative;
  z-index: 10;
  margin: 0 0 10rem 20rem;
  padding: 1rem;
  background-color: #0d1114;
  border: 1px solid #829e9d;
  width: calc(100% - 30rem);
  opacity: 0;
}
#about #skillz.visible {
  -webkit-animation: flickerInTo80 1s linear 0s 1 normal forwards;
          animation: flickerInTo80 1s linear 0s 1 normal forwards;
}
@media screen and (max-width: 1024px) {
  #about #skillz {
    width: calc(100% - 10rem);
    margin-left: 5rem;
  }
}
@media screen and (max-width: 480px) {
  #about #skillz {
    width: calc(100% - 2px - 2rem);
    margin-left: 0;
  }
}
#about #picture {
  position: absolute;
  right: 1vw;
  top: 60vh;
  width: 20rem;
  z-index: 1;
  border: 1px solid #829e9d;
}
@media screen and (max-width: 1024px) {
  #about #picture {
    display: none;
  }
}
#about #picture img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  border-bottom: 1px solid #829e9d;
}
#about #picture p {
  width: 100%;
  text-align: center;
}
#about #line4 {
  position: absolute;
  right: 20vw;
  height: 30%;
  top: 75%;
  border-right: 1px solid #829e9d;
}
#about #line5 {
  position: absolute;
  right: 5vw;
  height: 40%;
  top: 5%;
  width: 1rem;
  border: 1px solid #829e9d;
  background: linear-gradient(-45deg, #0d1114 2.38%, #0d1114 2.38%, #0d1114 50%, #829e9d 50%, #829e9d 52.38%, #0d1114 52.38%, #0d1114 100%);
  background-size: 29.7px 29.7px;
}
#about #line6 {
  position: absolute;
  left: 2vw;
  height: 40%;
  top: 80vh;
  width: 1rem;
  border: 1px solid #829e9d;
  background: linear-gradient(-45deg, #0d1114 2.38%, #0d1114 2.38%, #0d1114 50%, #829e9d 50%, #829e9d 52.38%, #0d1114 52.38%, #0d1114 100%);
  background-size: 29.7px 29.7px;
}
#about #line7 {
  position: absolute;
  left: 15vw;
  height: 30%;
  top: 20vh;
  border-left: 1px solid #829e9d;
}

#projects {
  position: absolute;
}
#projects > h1 {
  text-align: center;
  font-size: 3rem;
}
#projects #gallery {
  display: grid;
  width: calc(100% - 2px - 2rem);
  grid-template-columns: repeat(3, 1fr);
  gap: 1rem;
  margin-left: 1rem;
  justify-content: space-evenly;
  align-items: center;
}
#projects #gallery div {
  border: 1px solid #829e9d;
  width: 100%;
  height: auto;
  position: relative;
  cursor: pointer;
}
#projects #gallery div:after {
  content: attr(data-name);
  position: absolute;
  text-align: center;
  left: 0;
  right: 0;
  top: 50%;
  transform: translateY(-50%);
  opacity: 0;
  transition: opacity 0.2s;
}
#projects #gallery div:hover:after {
  opacity: 1;
}
#projects #gallery div:before {
  content: "";
  position: absolute;
  inset: 0;
  background-color: #829e9d;
  opacity: 0.15;
  transition: all 0.2s;
}
#projects #gallery div:hover:before {
  opacity: 0.5;
  background-color: #000;
}
#projects #gallery div img {
  width: 100%;
  height: 100%;
}
@media screen and (max-width: 768px) {
  #projects #gallery {
    grid-template-columns: repeat(2, 1fr);
  }
}
@media screen and (max-width: 480px) {
  #projects #gallery {
    grid-template-columns: repeat(1, 1fr);
  }
}

#footer {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  margin-left: 0.5rem;
  margin-bottom: 0.5rem;
  width: calc(100% - 0.5rem);
}
@media screen and (max-width: 480px) {
  #footer {
    text-align: center;
  }
}

@-webkit-keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@-webkit-keyframes loader {
  0% {
    transform: scaleY(0.2);
  }
  50% {
    transform: scaleY(1);
  }
  100% {
    transform: scaleY(0.2);
  }
}
@keyframes loader {
  0% {
    transform: scaleY(0.2);
  }
  50% {
    transform: scaleY(1);
  }
  100% {
    transform: scaleY(0.2);
  }
}
@-webkit-keyframes fadeOut {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
    display: none;
  }
}
@keyframes fadeOut {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
    display: none;
  }
}
@-webkit-keyframes flickerIn {
  0% {
    opacity: 0;
  }
  10% {
    opacity: 0.3;
  }
  20% {
    opacity: 0.1;
  }
  45% {
    opacity: 0.8;
  }
  60% {
    opacity: 0.6;
  }
  100% {
    opacity: 1;
  }
}
@keyframes flickerIn {
  0% {
    opacity: 0;
  }
  10% {
    opacity: 0.3;
  }
  20% {
    opacity: 0.1;
  }
  45% {
    opacity: 0.8;
  }
  60% {
    opacity: 0.6;
  }
  100% {
    opacity: 1;
  }
}
@-webkit-keyframes flickerInTo80 {
  0% {
    opacity: 0;
  }
  10% {
    opacity: 0.3;
  }
  20% {
    opacity: 0.1;
  }
  45% {
    opacity: 0.8;
  }
  60% {
    opacity: 0.6;
  }
  100% {
    opacity: 0.8;
  }
}
@keyframes flickerInTo80 {
  0% {
    opacity: 0;
  }
  10% {
    opacity: 0.3;
  }
  20% {
    opacity: 0.1;
  }
  45% {
    opacity: 0.8;
  }
  60% {
    opacity: 0.6;
  }
  100% {
    opacity: 0.8;
  }
}